/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variables';

html, body {
    height: 100%;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    font-weight: normal;
    cursor: pointer;
}

input, button {
    font-family: inherit;
}

/* common gracefully font size */
.g-text-common {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.g-h3 {
    @extend .g-text-common;

    font-size: 1.125rem;
    color: #556670;
}

.g-h4 {
    @extend .g-text-common;

    font-size: 1rem;
    color: #556670;
}

.g-body {
    @extend .g-text-common;

    font-size: 0.875rem;
    color: #556670;
}