.nav-bar {
    width: 100%;

    font-weight: 400;
    z-index: 100;
}

nav {
    height: 70px;
    background-color: #fff;
    border-bottom: solid 1px #d1d1d1;
}

.nav-brand-text {
    letter-spacing: 7px;
    font-weight: 100;
}

button:focus {
    outline: none;
}
